/* Style for the button grid */
.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 30px; /* Space between the grid and the form */
}

.button-grid h1 {
    text-align: center;
}

.left-column, .middle-column, .right-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-column {
    margin-left: 3vw;
}

.right-column {
    margin-right: 3vw;
}

.left-btn, .middle-btn, .right-btn {
    padding: 10px 20px;
    margin: 5px 0;
    background-color: #39444F;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 25vw;
}

.left-btn:hover, .middle-btn:hover, .right-btn:hover {
    background-color: #5A5971;
}

/* Existing styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Make input fields take full width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: #39444F;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #5A5971;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    background-color: #323232;
    color: white;
    padding: 10px 0px 20px 0px;
}

.nav button {
    border: none;
    background: none;
    color: white;
    margin: 0 3vw; /* Use viewport width for margin */
    font-size: max(0.7rem, 1vw); /* Responsive font size */
    padding: 8px 40px;
}

.nav .activated, .nav .not_activated {
    color: white;
}

.nav .activated {
    background-color: #5A5971;
    padding: 15px;
}

.nav .not_activated {
    background-color: #39444F;
}

.nav button:hover {
    background-color: #555;
}

.nav button.menu-btn {
    font-size: max(1rem, 1vw); /* Responsive font size */
}

.home {
    display: grid;
    grid-template-columns: min-content auto;
    justify-content: center;
    padding: 2vh 2vw; /* Responsive padding */
    position: relative;
    overflow: hidden; /* Ensure the animation stays within the element */
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}
  
label {
    margin-bottom: 5px;
}
  
input[type="text"],
input[type="email"],
textarea {
    width: 30vw; /* Ensure the input fields take full width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}
  
button {
    padding: 10px 20px;
    background-color: #39444F;
    color: #fff;
    border: none;
    cursor: pointer;
}
  
button:hover {
    background-color: #5A5971;
}

.home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgb(243, 233, 255), rgb(255, 255, 255)); /* Distinct colors */
    background-size: 400% 400%;
    animation: bg-animation 6s linear infinite;
    z-index: -1;
}


@keyframes bg-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.footer {
    background-color: #323232;
    padding: 1vh 5vw; /* Responsive padding */
    text-align: left; /* Align text to the left */
    color: white;
    display: flex;
    justify-content: space-between; /* Space between content */
    align-items: center;
}

.footer p {
    margin: 0;
    margin-bottom: 10px; /* Add space between p and buttons */
}

.footer .left-content {
    display: flex;
    flex-direction: column;
}

.footer .social_buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer .social_button {
    border: none;
    background-color: transparent;
    margin-right: 10px; /* Add margin for spacing */
}

.footer .social_button img {
    width: 30px; /* Adjust the width */
    height: 30px; /* Set height relative to width */
}

#scrollToTopBtn {
    border: none;
    background: none;
    color: white;
    font-size: max(0.7rem, 1vw); /* Responsive font size */
    background-color: #39444F;
    padding: 15px;
    margin-left: auto;
}

#scrollToTopBtn:hover {
    background-color: #5A5971;
    cursor: pointer;
}


/* Show the button when the user scrolls down */
@media only screen and (min-width: 768px) {
    .footer {
        position: relative;
    }
}

@media screen and (max-width: 1200px) {
    .nav button {
        margin: 0 3vw; /* Use viewport width for margin */
        font-size: max(0.7rem, 1vw); /* Responsive font size */
        padding: 8px 20px;
    }    
}

@media screen and (max-width: 920px) {
    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 2.5vw; /* Responsive margin */
        padding: 11px 7px 11px 7px;
    }

    .home {
        width: 90%; /* Adjusted width for smaller devices */
    }

}

@media screen and (max-width: 600px) {

    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 0vw; /* Responsive margin */
        padding: 11px 7px 11px 7px;
    }
    
}

@media screen and (max-width: 390px) {

    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 0vw; /* Responsive margin */
        padding: 8px 2px 8px 2px;
    }

}