.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    background-color: #323232;
    color: white;
    padding: 10px 0; /* Adjust padding */
    position: relative;
}

.nav .menu-btn {
    display: none;
    border: none;
    background: none;
    color: white;
    font-size: max(1rem, 1vw); /* Responsive font size */
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav button {
    border: none;
    background: none;
    color: white;
    margin: 0 3.5vw; /* Use viewport width for margin */
    font-size: max(0.7rem, 1vw); /* Responsive font size */
    padding: 8px 40px;
}

.nav .activated, .nav .not_activated {
    color: white;
}

.nav .activated {
    background-color: #5A5971;
    padding: 15px;
}

.nav .not_activated {
    background-color: #39444F;
}

.nav button:hover {
    background-color: #555;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .nav-buttons {
        display: none; /* Hide the buttons by default on narrow screens */
        flex-direction: column;
        width: 100%; /* Make the buttons take the full width */
    }

    .nav .menu-btn {
        display: block; /* Show the burger menu button */
    }

    .nav-buttons.show {
        display: flex; /* Show the buttons when the menu is active */
    }

    .nav button {
        margin: 10px 0; /* Adjust margins for vertical layout */
        font-size: 1.2rem; /* Increase font size for better readability */
        padding: 10px 20px; /* Adjust padding */
    }
}

/* Additional CSS for other page elements */

.home {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    padding: 5vh 5vw; /* Responsive padding */
    position: relative;
    overflow: hidden; /* Ensure the animation stays within the element */
}

.img {
    height: 65vh;
    width: 50vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 5vh; /* Adjust the value to move the image higher */

}

.img-and-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; /* Center align */
    flex-direction: column;
}

.img > img {
    width: 120%;
    height: 120%;
    object-fit: cover;
    margin: 2vh; /* Responsive margin */
    opacity: 0; /* Initially hide the image */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease forwards; /* Apply animation */
}

.social_buttons {
    display: flex;
    margin-top: 1vh;
    padding-right: 10vw;
    flex-wrap: nowrap;
}

.social_buttons button {
    border: none;
    background-color: transparent;
}

.social_buttons img {
    width: 50px; /* Adjust the width to your preference */
    height: 50px; /* Set height relative to width */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with 0 opacity */
        transform: scale(0.8); /* Start slightly smaller */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: scale(1); /* End with original size */
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw; /* Responsive gap */
    padding: 2vh 5vw; /* Responsive padding */
    background-color: #39444F;
}

.gallery img, video {
    width: 100%;
    height: auto;
    max-height: 30vh; /* Responsive max height */
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, filter 0.3s ease; /* Add transitions for smooth effect */
}

.gallery img:hover, video:hover {
    transform: scale(1.05); /* Scale up on hover */
    filter: brightness(120%); /* Add brightness effect */
}

article {
    padding: 1vh 2vw; /* Responsive padding */
    font-size: 1.4rem;
    animation: fadeIn 1s ease forwards; /* Apply animation */
}

@media screen and (max-width: 1200px) {
    .nav button {
        margin: 0 3vw; /* Use viewport width for margin */
        font-size: max(0.7rem, 1vw); /* Responsive font size */
        padding: 8px 20px;
    }
    article {
        margin-top: 0vh; /* Add margin-top to move the article lower */
    }
}

@media screen and (max-width: 920px) {
    .home {
        grid-template-columns: 1fr;
    }

    .home .img {
        margin-bottom: 2vh; /* Responsive margin */
    }

    article {
        padding: 1vh 5vw;
    }

    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 2.5vw; /* Responsive margin */
        padding: 11px 7px 11px 7px;
    }
}

@media screen and (max-width: 600px) {
    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0; /* Responsive margin */
    }

    .img {
        height: 45vh;
        width: 40vh;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .nav .menu-btn {
        display: block; /* Show the burger menu button */
        width: 30vw; /* Set width of burger button */
        margin: 2vh;
    }

    .nav-buttons.show {
        display: flex; /* Show the buttons when the menu is active */
        height: auto; /* Reset height to auto */
        
    }

    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0; /* Responsive margin */
        padding: 3vh 2px;
    }
}


@media screen and (max-width: 390px) {
    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0; /* Responsive margin */
        padding: 8px 2px;
    }
}
