.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    background-color: #323232;
    color: white;
    padding: 10px 0px 20px 0px;
}

.nav button {
    border: none;
    background: none;
    color: white;
    margin: 0 3.5vw; /* Use viewport width for margin */
    font-size: max(0.7rem, 1vw); /* Responsive font size */
    padding: 8px 40px;
}

.nav .activated, .nav .not_activated {
    color: white;
}

.nav .activated {
    background-color: #5A5971;
    padding: 15px;
}

.nav .not_activated {
    background-color: #39444F;
}

.nav button:hover {
    background-color: #555;
}

.nav button.menu-btn {
    font-size: max(1rem, 1vw); /* Responsive font size */
}

.home {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    padding: 5vh 5vw; /* Responsive padding */
    position: relative;
    overflow: hidden; /* Ensure the animation stays within the element */
}

.home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,rgb(224, 224, 249), rgb(255, 255, 255));
    background-size: 400% 400%; /* Ensure the gradient covers the whole area */
    animation: neon-animation 4s ease infinite; /* Adjust duration and timing function as needed */
    z-index: -1; /* Ensure the gradient stays behind the content */
}

@keyframes neon-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.img {
    height: 50vh; 
    width: 50vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    display: flex;
}

.img-and-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    flex-direction: column;
}

.img > img {
    width: 120%;
    height: 120%;
    object-fit: cover;
    margin: 2vh; /* Responsive margin */
    opacity: 0; /* Initially hide the image */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease forwards; /* Apply animation */
}

.social_buttons{
    margin-top: 1vh;
    padding-right: 10vw;
    flex-wrap: nowrap;
}


@keyframes fadeIn {
    from {
        opacity: 0; /* Start with 0 opacity */
        transform: scale(0.8); /* Start slightly smaller */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: scale(1); /* End with original size */
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw; /* Responsive gap */
    padding: 2vh 5vw; /* Responsive padding */
    background-color: #39444F;
}

.gallery img {
    width: 100%;
    height: auto;
    max-height: 30vh; /* Responsive max height */
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, filter 0.3s ease; /* Add transitions for smooth effect */
}

.gallery img:hover {
    transform: scale(1.05); /* Scale up on hover */
    filter: brightness(120%); /* Add brightness effect */
}

article {
    padding: 1vh 2vw; /* Responsive padding */
    font-size: 1.4rem;
    animation: fadeIn 1s ease forwards; /* Apply animation */
}

.footer {
    background-color: #323232;
    padding: 1vh 5vw; /* Responsive padding */
    text-align: center;
    color: white;
}

/* Style for the scroll to top button */
#scrollToTopBtn {
    border: none;
    background: none;
    color: white;
    margin: 0 3vw; /* Use viewport width for margin */
    font-size: max(0.7rem, 1vw); /* Responsive font size */
    padding: 8px 40px;
    background-color: #39444F;
    padding: 15px;
    float: right;
}

#scrollToTopBtn:hover{
    background-color: #5A5971;
}




@media screen and (max-width: 1200px) {
    .nav button {
        margin: 0 3vw; /* Use viewport width for margin */
        font-size: max(0.7rem, 1vw); /* Responsive font size */
        padding: 8px 20px;
    }    
    article {
        margin-top: -15vh;
    }

}

@media screen and (max-width: 920px) {
    .home {
        grid-template-columns: 1fr;
    }

    .home .img {
        margin-bottom: 2vh; /* Responsive margin */
    }

    article {
        padding: 1vh 5vw;
    }

    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 2.5vw; /* Responsive margin */
        padding: 11px 7px 11px 7px;
    }

}

@media screen and (max-width: 600px) {

    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 0vw; /* Responsive margin */
        padding: 11px 7px 11px 7px;
    }

}

@media screen and (max-width: 390px) {

    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 0vw; /* Responsive margin */
        padding: 8px 2px 8px 2px;
    }

}