.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row h2 {
    margin-top: 5vh;
}

.image {
    flex: 1;
    position: relative;
}

.text {
    flex: 1;
    margin-right: 10px; /* Verringern Sie den Abstand zum nächsten Element */
}

.text p {
    margin: 10px; /* Reduzieren Sie den Abstand für einen kompakteren Look */
    font-size: 1.2rem; /* Beispielwert, passen Sie die Schriftgröße nach Bedarf an */
}

.image img {
    max-width: 100%; /* Verwenden Sie die volle Breite des verfügbaren Raums */
    height: auto; /* Bewahren Sie das Seitenverhältnis bei */
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    background-color: #323232;
    color: white;
    padding: 10px 0; /* Adjust padding */
    position: relative;
}

.nav .menu-btn {
    display: none;
    border: none;
    background: none;
    color: white;
    font-size: max(1rem, 1vw); /* Responsive font size */
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav button {
    border: none;
    background: none;
    color: white;
    margin: 0 2vw; /* Reduzieren Sie den Abstand zwischen den Navigationsbuttons */
    font-size: max(0.8rem, 1vw); /* Beispielwert, passen Sie die Schriftgröße nach Bedarf an */
    padding: 8px 40px;
}

.nav .activated, .nav .not_activated {
    color: white;
}

.nav .activated {
    background-color: #5A5971;
    padding: 15px;
}

.nav .not_activated {
    background-color: #39444F;
}

.nav button:hover {
    background-color: #555;
    cursor: pointer;
}

.grid {
    background: linear-gradient(45deg, rgb(224, 224, 249), rgb(255, 255, 255));
    background-size: 400% 400%;
    animation: neon-animation 4s ease infinite;
    z-index: -1;
}

/* Show the button when the user scrolls down */
@media only screen and (min-width: 768px) {
    .footer {
        position: relative;
    }
}

@media screen and (max-width: 1200px) {
    .nav button {
        margin: 0 2vw; /* Reduzieren Sie den Abstand zwischen den Navigationsbuttons */
        font-size: max(0.8rem, 1vw); /* Beispielwert, passen Sie die Schriftgröße nach Bedarf an */
        padding: 8px 20px;
    }
}

@media screen and (max-width: 600px) {
    .nav-buttons {
        display: none; /* Hide the buttons by default on narrow screens */
        flex-direction: column;
        width: 100%; /* Make the buttons take the full width */
    }

    .nav .menu-btn {
        display: block; /* Show the burger menu button */
    }

    .nav-buttons.show {
        display: flex; /* Show the buttons when the menu is active */
    }

    .nav button {
        margin: 10px 0; /* Adjust margins for vertical layout */
        font-size: 1.2rem; /* Increase font size for better readability */
        padding: 10px 20px; /* Adjust padding */
    }
}

@media screen and (max-width: 390px) {
    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 0vw; /* Responsive margin */
        padding: 8px 2px 8px 2px;
    }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with 0 opacity */
        transform: scale(0.8); /* Start slightly smaller */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: scale(1); /* End with original size */
    }
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column; /* Ändern Sie die Anordnung auf Spalten für kleinere Bildschirme */
        align-items: center; /* Zentrieren Sie die Elemente vertikal */
    }

    .image,
    .text {
        flex: 1; /* Lassen Sie die Bilder und Texte die volle Breite einnehmen */
        margin: 0; /* Entfernen Sie den seitlichen Abstand */
        text-align: center; /* Zentrieren Sie den Text */
    }

    .text p {
        margin-top: 10px; /* Fügen Sie einen oberen Abstand zum Text hinzu */
    }

    .row h2 {
        margin-top: -20px; /* Fügen Sie einen Abstand zwischen h2 und den Text-/Bildelementen hinzu */
        margin-bottom: 0; /* Verhindern Sie einen zusätzlichen Zeilenumbruch unter dem h2 */
    }
    
    
}
