.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.home {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
}

h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.row h2 {
    margin-top: 5vh;
}

.image {
    flex: 1;
    position: relative; /* Add relative positioning to position the link */
}

.text {
    flex: 1;
    margin-right: 20px;
}

.text p {
    margin: 10vw;
}

.image img {
    max-width: 75%;
    height: auto;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    background-color: #323232;
    color: white;
    padding: 10px 0px 20px 0px;
}

.nav button {
    border: none;
    background: none;
    color: white;
    margin: 0 3vw; /* Use viewport width for margin */
    font-size: max(0.7rem, 1vw); /* Responsive font size */
    padding: 8px 40px;
}

.nav .activated, .nav .not_activated {
    color: white;
}

.nav .activated {
    background-color: #5A5971;
    padding: 15px;
}

.nav .not_activated {
    background-color: #39444F;
}

.nav button:hover {
    background-color: #555;
    cursor: pointer;
}

.nav button.menu-btn {
    font-size: max(1rem, 1vw); /* Responsive font size */
}

.grid {
    background: linear-gradient(45deg, rgb(224, 224, 249), rgb(255, 255, 255));
    background-size: 400% 400%;
    animation: neon-animation 4s ease infinite;
    z-index: -1;
}

/* Show the button when the user scrolls down */
@media only screen and (min-width: 768px) {
    .footer {
        position: relative;
    }
}

@media screen and (max-width: 1200px) {
    .nav button {
        margin: 0 3vw; /* Use viewport width for margin */
        font-size: max(0.7rem, 1vw); /* Responsive font size */
        padding: 8px 20px;
    }
}

@media screen and (max-width: 920px) {
    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 2.5vw; /* Responsive margin */
        padding: 11px 7px 11px 7px;
    }
    .text p {
        margin: 2vw;
    }
    .image img {
        max-width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 0vw; /* Responsive margin */
        padding: 11px 7px 11px 7px;
    }
}

@media screen and (max-width: 390px) {
    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 0vw; /* Responsive margin */
        padding: 8px 2px 8px 2px;
    }
}

/* Keyframes for fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0; /* Start with 0 opacity */
        transform: scale(0.8); /* Start slightly smaller */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: scale(1); /* End with original size */
    }
}