.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.nav {
    background-color: #323232;
    color: white;
    padding: 10px 0px 20px 0px;
}

.nav button {
    border: none;
    background: none;
    color: white;
    margin: 0 3vw; /* Use viewport width for margin */
    font-size: max(0.7rem, 1vw); /* Responsive font size */
    padding: 8px 40px;
}

.nav .activated, .nav .not_activated {
    color: white;
}

.nav .activated {
    background-color: #5A5971;
}

.nav .not_activated {
    background-color: #39444F;
}

.nav button:hover {
    background-color: #555;
}

.nav button.menu-btn {
    font-size: max(1rem, 1vw); /* Responsive font size */
}

.home {
    display: grid;
    grid-template-columns: min-content auto;
    align-items: center;
    padding: 5vh 5vw; /* Responsive padding */
    position: relative;
}

.img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Responsive height */
    width: 50vh; /* Responsive width */
    overflow: hidden;
    margin: 100px auto;
}

.img img {
    width: 120%;
    height: 120%;
    object-fit: cover;
    margin: 2vh; /* Responsive margin */
    opacity: 0; /* Initially hide the image */
    animation: fadeIn 1s ease forwards; /* Apply animation */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start with 0 opacity */
        transform: scale(0.8); /* Start slightly smaller */
    }
    to {
        opacity: 1; /* End with full opacity */
        transform: scale(1); /* End with original size */
    }
}


.buttons {
    position: absolute;
    bottom: 2vh; /* Responsive distance from bottom */
    display: flex;
    justify-content: center;
    width: 100%;
}

.button {
    display: inline-block;
    margin-right: 2vw; /* Responsive margin */
    padding: 1vh 2vw; /* Responsive padding */
    background-color: #5A5971;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    aspect-ratio: 1;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #39444F;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1vw; /* Responsive gap */
    padding: 2vh 5vw; /* Responsive padding */
    background-color: #323232;
}

.gallery img {
    width: 100%;
    height: auto;
    max-height: 30vh; /* Responsive max height */
    object-fit: cover;
    transition: transform 0.3s ease, filter 0.3s ease; /* Add transitions for smooth effect */
}

.gallery img:hover {
    transform: scale(1.05); /* Scale up on hover */
    filter: brightness(120%); /* Add brightness effect */
}

article {
    padding: 1vh 2vw; /* Responsive padding */
    font-size: 1.4rem;
    animation: fadeIn 1s ease forwards; /* Apply animation */
}

.footer {
    background-color: #39444F;
    padding: 1vh 5vw; /* Responsive padding */
    text-align: center;
    color: white;
}

@media screen and (max-width: 1200px) {
    .nav button {
        margin: 0 3vw; /* Use viewport width for margin */
        font-size: max(0.7rem, 1vw); /* Responsive font size */
        padding: 8px 20px;
    }    
}

@media screen and (max-width: 920px) {
    .home {
        grid-template-columns: 1fr;
    }

    .home .img {
        margin-bottom: 2vh; /* Responsive margin */
    }

    article {
        padding: 1vh 5vw; /* Responsive padding */
    }

    .nav button {
        font-size: max(1rem, 1vw); /* Responsive font size */
        margin: 0 0vw; /* Responsive margin */
        padding: 11px 7px 11px 7px;
    }
}
