/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.grid::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, rgb(199, 199, 230), rgb(255, 255, 255));
    animation: neon-animation 4s ease infinite;
    z-index: -1;
}

/* Navigation Styles */
.nav {
    background-color: #323232;
    color: white;
    padding: 10px 0;
    position: relative;
}

.nav .menu-btn {
    display: none;
    border: none;
    background: none;
    color: white;
    font-size: max(1rem, 1vw);
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav button {
    border: none;
    background: none;
    color: white;
    margin: 0 3.5vw;
    font-size: max(0.7rem, 1vw);
    padding: 8px 40px;
}

.nav .activated, .nav .not_activated {
    color: white;
}

.nav .activated {
    background-color: #5A5971;
    padding: 15px;
}

.nav .not_activated {
    background-color: #39444F;
}

.nav button:hover {
    background-color: #555;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .nav-buttons {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav .menu-btn {
        display: block;
    }

    .nav-buttons.show {
        display: flex;
    }

    .nav button {
        margin: 10px 0;
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    .project_article img,
    .project_article video {
        width: 100% !important; /* Adjust width to fill container */
        max-width: 100% !important; /* Allow image/video to resize */
        height: auto; /* Maintain aspect ratio */
        max-height: 50vh; /* Limit maximum height */
    }
}

@media screen and (max-width: 900px) {
    .column2 .project_article {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }
    
    .project_article img,
    .project_article video {
        width: 100%;
        max-width: none;
        height: auto;
        max-height: 50vh;
    }
    
}


/* Main Page Grid */
.home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 0 5vw;
    margin: 20px 0;
}

/* About Me Section */
.about-me {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center;
    grid-column: 1 / -1;
    gap: 20px;
}

.about-me img {
    width: 40%; /* Increase width for smaller screens */
    height: 80%;
    max-height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

.about-me div {
    width: 100%;
}

.about-me h2, .about-me p {
    margin: 0;
    text-align: center; /* Center align text */
}

.about-me p {
    max-width: 65%; /* Maximalbreite festlegen, damit der Text nicht komplett den Container ausfüllt */
}

@media screen and (max-width: 700px) {
    .about-me {
        align-items: flex-start; /* Align items to the start for stacking */
    }

    .about-me img {
        width: 80%; /* Increase width further for smaller screens */
    }

    .about-me h2,
    .about-me p {
        text-align: left; /* Align text to the left */
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
/* Content Columns */
.column1 { 
    grid-column: 1 / 2; 
    max-width: 80%; /* Maximalbreite festlegen, damit der Text nicht komplett den Container ausfüllt */
}

.column2 {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 110%;
}

.project_article {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    gap: 20px;
}

.project-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.project_article img {
    width: 50%;
    height: 70%;
    object-fit: cover;
}

.project_article video {
    width: 50%;
    height: auto;
    max-height: 50vh;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #323232;
    color: white;
    padding: 10px 5vw;
    position: relative;
    z-index: 1;
}

.footer .left-content {
    display: flex;
    flex-direction: column;
}

.footer .social_buttons {
    display: flex;
    margin-top: 10px;
}

.footer .social_button {
    border: none;
    background: none;
    margin-right: 10px;
}

.footer .social_button img {
    width: 40px;
    height: 40px;
    filter: invert(1);
}

.footer button#scrollToTopBtn {
    background-color: #555;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.footer button#scrollToTopBtn:hover {
    background-color: #777;
}

/* Background Animation */
@keyframes neon-animation {
    0%, 100% { background: linear-gradient(45deg, rgb(199, 199, 230), rgb(255, 255, 255)); }
    50% { background: linear-gradient(45deg, rgb(255, 255, 255), rgb(199, 199, 230)); }
}

.project-img {
    cursor: pointer;
    transition: transform 0.3s;
}

.project-img:hover {
    transform: scale(1.05);
}

@media screen and (min-width: 701px) {
    .about-me {
        flex-direction: row; /* Display items side by side */
        justify-content: center; /* Center items horizontally */
        align-items: center; /* Center items vertically */
        gap: 20px; /* Add spacing between items */
    }

    .about-me img {
        width: auto; /* Reset width */
        max-width: 20%; /* Limit maximum width */
        height: auto; /* Reset height */
    }

    .about-me p, .about-me h2 {
        max-width: 25vw; /* Reset max-width for text */
        text-align: left; /* Align text to the left */
    }
}
